## Library

In [ ]:
import os, math
import mysql.connector as MariaDB
import pandas as pd
from jinjasql import JinjaSql
from six import string_types
from copy import deepcopy
from random import random
from datetime import datetime
from sqlalchemy import create_engine

## DB Connection

In [ ]:
user = os.environ.get("USER")
pw = os.environ.get('PASSWORD')

In [ ]:
con = MariaDB.connect(
    host="127.0.0.1",
    user=user,
    passwd=pw,
    db="DB_TEST",
    port=3306
    )

cursor = con.cursor()

In [ ]:
cursor.execute('SHOW TABLES;')
tables = cursor.fetchall()
tables

In [ ]:
conn_string = f'mysql+pymysql://{user}:{pw}@127.0.0.1/DB_TEST'

engine = create_engine(conn_string, echo=False)
conn = engine.connect()

## Funcions and SQL Templates

#### Jinja Templates

In [83]:

_SIMPLE_SELECT_TEMPLATE = \
    """
    {% if show_columns %}
        {% set columns = '\n    ,'.join(show_columns) %}
    {% endif %}
    SELECT
        {% if columns %}
            {{ columns | sqlsafe }}
        {% else %}
            * 
        {% endif %}
    FROM 
        {{ table | sqlsafe }}
    """
    
_UPLOAD_FROM_FILE = \
    """
    LOAD DATA INFILE {{ path_file }}
    INTO TABLE {{ table | sqlsafe}}
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    """

_INSERT_DATA = \
    """
    {% if in_columns %}
        {% set columns = ', '.join(in_columns) %}
    {% endif %}
    INSERT INTO {{ table | sqlsafe }} 
    {% if columns %}
        ({{ columns | sqlsafe }})
    {% endif %}
    VALUES {{ values | inclause}}
    """

_UPDATE_DATE = \
    """
    UPDATE {{ table | sqlsafe}}
    SET 
        operator_total_time = {{ value }}
    WHERE
        id={{ id }} AND operator={{ operator }} 
    """
    
_TRUNCATE_TABLE = \
    """
    TRUNCATE TABLE {{ table | sqlsafe}}
    """

#### Functions

* Functions to work with Jinja Templates

In [81]:


def quote_sql_string(value):
    if isinstance(value, string_types):
        new_value = str(value)
        new_value = new_value.replace("'", "''")
        return "'{}'".format(new_value)
    return value

def get_sql_from_template(query, bind_params):
    if not bind_params:
        return query
    params = deepcopy(bind_params)
    for key, val in params.items():
        params[key] = quote_sql_string(val)
    return query % params

def apply_sql_template(template, parameters):
    j = JinjaSql(param_style='pyformat')
    query, bind_params = j.prepare_query(template, parameters)
    return get_sql_from_template(query, bind_params)

def get_select_table_sql(table, show_columns=None):    
    data = {
        "table": table,
        "show_columns": show_columns
    }
    return apply_sql_template(_SIMPLE_SELECT_TEMPLATE, data)

def upload_data_from_file(path_file, table):
    data = {
        "path_file": path_file,
        "table": table
    }
    return apply_sql_template(_UPLOAD_FROM_FILE, data) 

def insert_data(table, data, columns=None):
    data = {
        "table": table,
        "values": data,
        "in_columns": columns
    }
    return apply_sql_template(_INSERT_DATA, data)

def update_data(table, value, id, operator):
    data = {
        "table": table,
        "value": value,
        "id": id,
        "operator": operator
    }
    return apply_sql_template(_UPDATE_DATE, data)

def truncate_table(table):
    data = {
        "table": table
    }
    return apply_sql_template(_TRUNCATE_TABLE, data)

* Functions to generate data

In [60]:
def generate_rand_number(min, max):
    return math.floor((random()*(max-min))+min)

def get_rand_value(df, column):
    total_values = df[column].count()
    position = generate_rand_number(0, total_values-1)
    return df.iloc[position][column]
    
def get_rand_value_dict(dict, column):
    total_values = list(dict.keys())[-1]
    key = generate_rand_number(0, total_values)
    return dict[key][column]

def get_rand_key(dict):
    total_values = list(dict.keys())[-1]
    return generate_rand_number(0, total_values)

## Get data from Database Tables

In [ ]:
tables = []
cursor.execute('show tables')

for row in cursor:
    tables.append(row[0])
    
tables

In [ ]:
query_items_notes = get_select_table_sql("itens_notas_fiscais")
query_notes       = get_select_table_sql("notas_fiscais")
query_customers   = get_select_table_sql("tabela_de_clientes")
query_products    = get_select_table_sql("tabela_de_produtos")
query_sellers     = get_select_table_sql("tabela_de_vendedores")

In [ ]:
df_items_notes = pd.read_sql(query_items_notes, con)
df_notes       = pd.read_sql(query_notes, con)
df_customers   = pd.read_sql(query_customers, con)
df_products    = pd.read_sql(query_products, con)
df_sellers     = pd.read_sql(query_sellers, con)

In [ ]:
dict_items_notes = pd.read_sql(query_items_notes, con).to_dict('index')
dict_notes       = pd.read_sql(query_notes, con).to_dict('index')
dict_customers   = pd.read_sql(query_customers, con).to_dict('index')
dict_products    = pd.read_sql(query_products, con).to_dict('index')
dict_sellers     = pd.read_sql(query_sellers, con).to_dict('index')

## Generate Data

In [ ]:
def generate_new_data(maxNotes, maxItens, maxQuantity):
    date_sale  = datetime.today().strftime('%Y-%m-%d')
    last_note  = df_notes['NUMERO'].max() + 1
    tax_median = df_notes['IMPOSTO'].median()
    new_notes = {}
    new_items_notes = {}
    
    print("START: {}".format(datetime.now().strftime("%H:%M:%S")))
    for i in range(maxNotes):
        number_note = last_note + i
        customer_cpf = get_rand_value_dict(dict_customers, 'CPF')
        seller_id = get_rand_value_dict(dict_sellers, 'MATRICULA')
        new_notes[number_note] = [customer_cpf, seller_id, date_sale, number_note, tax_median]

        for i in range(maxItens):
            key = get_rand_key(dict_customers)
            product_code = dict_products[key]['CODIGO_DO_PRODUTO']
            item_key = f'{number_note}{product_code}'

            if item_key not in new_items_notes:
                product_price = dict_products[key]['PRECO_DE_LISTA']
                quantity = generate_rand_number(0, maxQuantity)
                new_items_notes[item_key] = [number_note, product_code, quantity, product_price]
    print("END: {}".format(datetime.now().strftime("%H:%M:%S")))        
    return new_notes, new_items_notes

In [ ]:
date_sale  = datetime.today().strftime('%Y-%m-%d')
last_note  = df_notes['NUMERO'].max() + 1
tax_median = df_notes['IMPOSTO'].median()
new_notes = {}
new_items_notes = {}

new_notes = {last_note+i:[get_rand_value_dict(dict_customers, 'CPF'), 
                          get_rand_value_dict(dict_sellers, 'MATRICULA'), 
                          date_sale, last_note+i, tax_median] \
             for i in range(1000000)}

for number_note, value in new_notes.items():
    for i in range(10):
        key = get_rand_key(dict_customers)
        product_code = dict_products[key]['CODIGO_DO_PRODUTO']
        item_key = f'{number_note}{product_code}'

        if item_key not in new_items_notes:
            product_price = dict_products[key]['PRECO_DE_LISTA']
            quantity = generate_rand_number(0, 1000)
            new_items_notes[item_key] = [number_note, product_code, quantity, product_price]

In [ ]:
new_notes, new_items_notes = generate_new_data(1000000, 1, 10)

## Load new data into DB

In [ ]:
df_new_itens_notes = pd.DataFrame.from_dict(new_items_notes, orient='index', columns=df_items_notes.columns).reset_index(drop=True)
df_new_notes = pd.DataFrame.from_dict(new_notes, orient='index', columns=df_notes.columns).reset_index(drop=True)

In [53]:
df_new_notes.head()

           CPF MATRICULA  DATA_VENDA   NUMERO  IMPOSTO
0   2600586709     00237  2022-05-30  1488277      0.1
1  94387575700     00236  2022-05-30  1488278      0.1
2   5840119709     00237  2022-05-30  1488279      0.1
3   5576228758     00236  2022-05-30  1488280      0.1
4   8502682733     00236  2022-05-30  1488281      0.1

In [ ]:
df_new_itens_notes.head()

In [ ]:
print(f"df_new_itens_notes={df_new_itens_notes['NUMERO'].count()} | df_new_notes={df_new_notes['CPF'].count()}")

In [ ]:
df_new_notes.to_sql("notas_fiscais", con=conn, if_exists='append', index = False)

In [54]:
sql_notes = upload_data_from_file(path_file='/home/mbrugnar/workspace/data-engineering-studies/sql-server/df_new_notes.csv',
                                  table='notas_fiscais')
sql_notes

"\n    LOAD DATA INFILE 23\n    INTO TABLE notas_fiscais\n    FIELDS TERMINATED BY ','\n    LINES TERMINATED BY '\n'\n    "

In [72]:
sql_insert = insert_data('teste', [1, 2, 3, 4, 5, 'dsad'], ["dsadsa", "dsadsa"])
sql_insert

"\n    \n        \n    \n    INSERT INTO teste \n    \n        (dsadsa, dsadsa)\n    \n    VALUES (1,2,3,4,5,'dsad')\n    "

In [80]:
sql_update = update_data("teste", 10, 1, "generator")
sql_update

"\n    UPDATE teste\n    SET \n        operator_total_time = 10\n    WHERE\n        id=1 AND operator='generator' \n    "

In [ ]:
df_new_notes.to_csv('df_new_notes.csv', index=False, header=False)

In [84]:
sql_truncate = truncate_table("teste")
sql_truncate

'\n    TRUNCATE TABLE teste\n    '

In [ ]:
cursor.execute(sql_notes)

In [ ]:
con.commit()

In [ ]:
cursor.execute("select count(*) as c from notas_fiscais;")
for c in cursor:
    print(c)