## Library

In [4]:
import os, math
import mysql.connector as MariaDB
import pandas as pd
from jinjasql import JinjaSql
from six import string_types
from copy import deepcopy
from random import random
from datetime import datetime
from sqlalchemy import create_engine

## DB Connection

In [6]:
user = os.environ.get("USER")
pw = os.environ.get('PASSWORD')

In [11]:
con = MariaDB.connect(
    host="127.0.0.1",
    user=user,
    passwd=pw,
    db="DB_TEST",
    port=3306
    )

cursor = con.cursor(dictionary=True)

In [12]:
cursor.execute('SELECT * FROM tabela_de_clientes')
tables = cursor.fetchall()
tables

[{'CPF': '1471156710',
  'NOME': 'Érica Carvalho',
  'ENDERECO_1': 'R. Iriquitia',
  'ENDERECO_2': '',
  'BAIRRO': 'Jardins',
  'CIDADE': 'São Paulo',
  'ESTADO': 'SP',
  'CEP': '80012212',
  'DATA_DE_NASCIMENTO': datetime.date(1990, 9, 1),
  'IDADE': 27,
  'SEXO': 'F',
  'LIMITE_DE_CREDITO': 170000.0,
  'VOLUME_DE_COMPRA': 24500.0,
  'PRIMEIRA_COMPRA': 0},
 {'CPF': '19290992743',
  'NOME': 'Fernando Cavalcante',
  'ENDERECO_1': 'R. Dois de Fevereiro',
  'ENDERECO_2': '',
  'BAIRRO': 'Água Santa',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '22000000',
  'DATA_DE_NASCIMENTO': datetime.date(2000, 2, 12),
  'IDADE': 18,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 100000.0,
  'VOLUME_DE_COMPRA': 20000.0,
  'PRIMEIRA_COMPRA': 1},
 {'CPF': '2600586709',
  'NOME': 'César Teixeira',
  'ENDERECO_1': 'Rua Conde de Bonfim',
  'ENDERECO_2': '',
  'BAIRRO': 'Tijuca',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '22020001',
  'DATA_DE_NASCIMENTO': datetime.date(2000, 3, 12),
  'IDADE': 18,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 120000.0,
  'VOLUME_DE_COMPRA': 22000.0,
  'PRIMEIRA_COMPRA': 0},
 {'CPF': '3623344710',
  'NOME': 'Marcos Nougeuira',
  'ENDERECO_1': 'Av. Pastor Martin Luther King Junior',
  'ENDERECO_2': '',
  'BAIRRO': 'Inhauma',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '22002012',
  'DATA_DE_NASCIMENTO': datetime.date(1995, 1, 13),
  'IDADE': 23,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 110000.0,
  'VOLUME_DE_COMPRA': 22000.0,
  'PRIMEIRA_COMPRA': 1},
 {'CPF': '492472718',
  'NOME': 'Eduardo Jorge',
  'ENDERECO_1': 'R. Volta Grande',
  'ENDERECO_2': '',
  'BAIRRO': 'Tijuca',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '22012002',
  'DATA_DE_NASCIMENTO': datetime.date(1994, 7, 19),
  'IDADE': 23,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 75000.0,
  'VOLUME_DE_COMPRA': 9500.0,
  'PRIMEIRA_COMPRA': 1},
 {'CPF': '50534475787',
  'NOME': 'Abel Silva ',
  'ENDERECO_1': 'Rua Humaitá',
  'ENDERECO_2': '',
  'BAIRRO': 'Humaitá',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '22000212',
  'DATA_DE_NASCIMENTO': datetime.date(1995, 9, 11),
  'IDADE': 22,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 170000.0,
  'VOLUME_DE_COMPRA': 26000.0,
  'PRIMEIRA_COMPRA': 0},
 {'CPF': '5576228758',
  'NOME': 'Petra Oliveira',
  'ENDERECO_1': 'R. Benício de Abreu',
  'ENDERECO_2': '',
  'BAIRRO': 'Lapa',
  'CIDADE': 'São Paulo',
  'ESTADO': 'SP',
  'CEP': '88192029',
  'DATA_DE_NASCIMENTO': datetime.date(1995, 11, 14),
  'IDADE': 22,
  'SEXO': 'F',
  'LIMITE_DE_CREDITO': 70000.0,
  'VOLUME_DE_COMPRA': 16000.0,
  'PRIMEIRA_COMPRA': 1},
 {'CPF': '5648641702',
  'NOME': 'Paulo César Mattos',
  'ENDERECO_1': 'Rua Hélio Beltrão',
  'ENDERECO_2': '',
  'BAIRRO': 'Tijuca',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '21002020',
  'DATA_DE_NASCIMENTO': datetime.date(1991, 8, 30),
  'IDADE': 26,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 120000.0,
  'VOLUME_DE_COMPRA': 22000.0,
  'PRIMEIRA_COMPRA': 0},
 {'CPF': '5840119709',
  'NOME': 'Gabriel Araujo',
  'ENDERECO_1': 'R. Manuel de Oliveira',
  'ENDERECO_2': '',
  'BAIRRO': 'Santo Amaro',
  'CIDADE': 'São Paulo',
  'ESTADO': 'SP',
  'CEP': '80010221',
  'DATA_DE_NASCIMENTO': datetime.date(1985, 3, 16),
  'IDADE': 32,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 140000.0,
  'VOLUME_DE_COMPRA': 21000.0,
  'PRIMEIRA_COMPRA': 1},
 {'CPF': '7771579779',
  'NOME': 'Marcelo Mattos',
  'ENDERECO_1': 'R. Eduardo Luís Lopes',
  'ENDERECO_2': '',
  'BAIRRO': 'Brás',
  'CIDADE': 'São Paulo',
  'ESTADO': 'SP',
  'CEP': '88202912',
  'DATA_DE_NASCIMENTO': datetime.date(1992, 3, 25),
  'IDADE': 25,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 120000.0,
  'VOLUME_DE_COMPRA': 20000.0,
  'PRIMEIRA_COMPRA': 1},
 {'CPF': '8502682733',
  'NOME': 'Valdeci da Silva',
  'ENDERECO_1': 'R. Srg. Édison de Oliveira',
  'ENDERECO_2': '',
  'BAIRRO': 'Jardins',
  'CIDADE': 'São Paulo',
  'ESTADO': 'SP',
  'CEP': '82122020',
  'DATA_DE_NASCIMENTO': datetime.date(1995, 10, 7),
  'IDADE': 22,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 110000.0,
  'VOLUME_DE_COMPRA': 19000.0,
  'PRIMEIRA_COMPRA': 0},
 {'CPF': '8719655770',
  'NOME': 'Carlos Eduardo',
  'ENDERECO_1': 'Av. Gen. Guedes da Fontoura',
  'ENDERECO_2': '',
  'BAIRRO': 'Jardins',
  'CIDADE': 'São Paulo',
  'ESTADO': 'SP',
  'CEP': '81192002',
  'DATA_DE_NASCIMENTO': datetime.date(1983, 12, 20),
  'IDADE': 34,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 200000.0,
  'VOLUME_DE_COMPRA': 24000.0,
  'PRIMEIRA_COMPRA': 0},
 {'CPF': '9283760794',
  'NOME': 'Edson Meilelles',
  'ENDERECO_1': 'R. Pinto de Azevedo',
  'ENDERECO_2': '',
  'BAIRRO': 'Cidade Nova',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '22002002',
  'DATA_DE_NASCIMENTO': datetime.date(1995, 10, 7),
  'IDADE': 22,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 150000.0,
  'VOLUME_DE_COMPRA': 25000.0,
  'PRIMEIRA_COMPRA': 1},
 {'CPF': '94387575700',
  'NOME': 'Walber Lontra',
  'ENDERECO_1': 'R. Cel. Almeida',
  'ENDERECO_2': '',
  'BAIRRO': 'Piedade',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '22000201',
  'DATA_DE_NASCIMENTO': datetime.date(1989, 6, 20),
  'IDADE': 28,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 60000.0,
  'VOLUME_DE_COMPRA': 12000.0,
  'PRIMEIRA_COMPRA': 1},
 {'CPF': '95939180787',
  'NOME': 'Fábio Carvalho',
  'ENDERECO_1': 'R. dos Jacarandás da Península',
  'ENDERECO_2': '',
  'BAIRRO': 'Barra da Tijuca',
  'CIDADE': 'Rio de Janeiro',
  'ESTADO': 'RJ',
  'CEP': '22002020',
  'DATA_DE_NASCIMENTO': datetime.date(1992, 1, 5),
  'IDADE': 16,
  'SEXO': 'M',
  'LIMITE_DE_CREDITO': 90000.0,
  'VOLUME_DE_COMPRA': 18000.0,
  'PRIMEIRA_COMPRA': 1}]

In [ ]:
conn_string = f'mysql+pymysql://{user}:{pw}@127.0.0.1/DB_TEST'

engine = create_engine(conn_string, echo=False)
conn = engine.connect()

## Funcions and SQL Templates

#### Jinja Templates

In [1]:

_SIMPLE_SELECT_TEMPLATE = \
    """
    {% if show_columns %}
        {% set columns = '\n    ,'.join(show_columns) %}
    {% endif %}
    SELECT
        {% if columns %}
            {{ columns | sqlsafe }}
        {% else %}
            * 
        {% endif %}
    FROM 
        {{ table | sqlsafe }}
    """
    
_UPLOAD_FROM_FILE = \
    """
    LOAD DATA INFILE {{ path_file }}
    INTO TABLE {{ table | sqlsafe}}
    FIELDS TERMINATED BY ','
    LINES TERMINATED BY '\n'
    """

_INSERT_DATA = \
    """
    {% if in_columns %}
        {% set columns = ', '.join(in_columns) %}
    {% endif %}
    INSERT INTO {{ table | sqlsafe }} 
    {% if columns %}
        ({{ columns | sqlsafe }})
    {% endif %}
    VALUES {{ values | inclause}}
    """

_UPDATE_DATE = \
    """
    UPDATE {{ table | sqlsafe}}
    SET 
        operator_total_time = {{ value }}
    WHERE
        id={{ id }} AND operator={{ operator }} 
    """
    
_TRUNCATE_TABLE = \
    """
    TRUNCATE TABLE {{ table | sqlsafe}}
    """
    
_TABLE_STATISTICS = \
    """
    SELECT
        {{ operator | sqlsafe }}({{ column | sqlsafe }})
    FROM
        {{ table | sqlsafe }}
    """

#### Functions

* Functions to work with Jinja Templates

In [2]:


def quote_sql_string(value):
    if isinstance(value, string_types):
        new_value = str(value)
        new_value = new_value.replace("'", "''")
        return "'{}'".format(new_value)
    return value

def get_sql_from_template(query, bind_params):
    if not bind_params:
        return query
    params = deepcopy(bind_params)
    for key, val in params.items():
        params[key] = quote_sql_string(val)
    return query % params

def apply_sql_template(template, parameters):
    j = JinjaSql(param_style='pyformat')
    query, bind_params = j.prepare_query(template, parameters)
    return get_sql_from_template(query, bind_params)

def get_select_table_sql(table, show_columns=None):    
    data = {
        "table": table,
        "show_columns": show_columns
    }
    return apply_sql_template(_SIMPLE_SELECT_TEMPLATE, data)

def upload_data_from_file(path_file, table):
    data = {
        "path_file": path_file,
        "table": table
    }
    return apply_sql_template(_UPLOAD_FROM_FILE, data) 

def insert_data(table, data, columns=None):
    data = {
        "table": table,
        "values": data,
        "in_columns": columns
    }
    return apply_sql_template(_INSERT_DATA, data)

def update_data(table, value, id, operator):
    data = {
        "table": table,
        "value": value,
        "id": id,
        "operator": operator
    }
    return apply_sql_template(_UPDATE_DATE, data)

def truncate_table(table):
    data = {
        "table": table
    }
    return apply_sql_template(_TRUNCATE_TABLE, data)

def table_statistics(table, operator, column):
    data = {
        "table": table,
        "operator": operator,
        "column": column
    }
    return apply_sql_template(_TABLE_STATISTICS, data)

* Functions to generate data

In [ ]:
def generate_rand_number(min, max):
    return math.floor((random()*(max-min))+min)

def get_rand_value(df, column):
    total_values = df[column].count()
    position = generate_rand_number(0, total_values-1)
    return df.iloc[position][column]
    
def get_rand_value_dict(dict, column):
    total_values = list(dict.keys())[-1]
    key = generate_rand_number(0, total_values)
    return dict[key][column]

def get_rand_key(dict):
    total_values = list(dict.keys())[-1]
    return generate_rand_number(0, total_values)

## Get data from Database Tables

In [ ]:
tables = []
cursor.execute('show tables')

for row in cursor:
    tables.append(row[0])
    
tables

In [ ]:
query_items_notes = get_select_table_sql("itens_notas_fiscais")
query_notes       = get_select_table_sql("notas_fiscais")
query_customers   = get_select_table_sql("tabela_de_clientes")
query_products    = get_select_table_sql("tabela_de_produtos")
query_sellers     = get_select_table_sql("tabela_de_vendedores")

In [ ]:
df_items_notes = pd.read_sql(query_items_notes, con)
df_notes       = pd.read_sql(query_notes, con)
df_customers   = pd.read_sql(query_customers, con)
df_products    = pd.read_sql(query_products, con)
df_sellers     = pd.read_sql(query_sellers, con)

In [ ]:
dict_items_notes = pd.read_sql(query_items_notes, con).to_dict('index')
dict_notes       = pd.read_sql(query_notes, con).to_dict('index')
dict_customers   = pd.read_sql(query_customers, con).to_dict('index')
dict_products    = pd.read_sql(query_products, con).to_dict('index')
dict_sellers     = pd.read_sql(query_sellers, con).to_dict('index')

## Generate Data

In [ ]:
def generate_new_data(maxNotes, maxItens, maxQuantity):
    date_sale  = datetime.today().strftime('%Y-%m-%d')
    last_note  = df_notes['NUMERO'].max() + 1
    tax_median = df_notes['IMPOSTO'].median()
    new_notes = {}
    new_items_notes = {}
    
    print("START: {}".format(datetime.now().strftime("%H:%M:%S")))
    for i in range(maxNotes):
        number_note = last_note + i
        customer_cpf = get_rand_value_dict(dict_customers, 'CPF')
        seller_id = get_rand_value_dict(dict_sellers, 'MATRICULA')
        new_notes[number_note] = [customer_cpf, seller_id, date_sale, number_note, tax_median]

        for i in range(maxItens):
            key = get_rand_key(dict_customers)
            product_code = dict_products[key]['CODIGO_DO_PRODUTO']
            item_key = f'{number_note}{product_code}'

            if item_key not in new_items_notes:
                product_price = dict_products[key]['PRECO_DE_LISTA']
                quantity = generate_rand_number(0, maxQuantity)
                new_items_notes[item_key] = [number_note, product_code, quantity, product_price]
    print("END: {}".format(datetime.now().strftime("%H:%M:%S")))        
    return new_notes, new_items_notes

In [ ]:
date_sale  = datetime.today().strftime('%Y-%m-%d')
last_note  = df_notes['NUMERO'].max() + 1
tax_median = df_notes['IMPOSTO'].median()
new_notes = {}
new_items_notes = {}

new_notes = {last_note+i:[get_rand_value_dict(dict_customers, 'CPF'), 
                          get_rand_value_dict(dict_sellers, 'MATRICULA'), 
                          date_sale, last_note+i, tax_median] \
             for i in range(1000000)}

for number_note, value in new_notes.items():
    for i in range(10):
        key = get_rand_key(dict_customers)
        product_code = dict_products[key]['CODIGO_DO_PRODUTO']
        item_key = f'{number_note}{product_code}'

        if item_key not in new_items_notes:
            product_price = dict_products[key]['PRECO_DE_LISTA']
            quantity = generate_rand_number(0, 1000)
            new_items_notes[item_key] = [number_note, product_code, quantity, product_price]

In [ ]:
new_notes, new_items_notes = generate_new_data(1000000, 1, 10)

## Load new data into DB

In [ ]:
df_new_itens_notes = pd.DataFrame.from_dict(new_items_notes, orient='index', columns=df_items_notes.columns).reset_index(drop=True)
df_new_notes = pd.DataFrame.from_dict(new_notes, orient='index', columns=df_notes.columns).reset_index(drop=True)

In [ ]:
df_new_notes.head()

In [ ]:
df_new_itens_notes.head()

In [ ]:
print(f"df_new_itens_notes={df_new_itens_notes['NUMERO'].count()} | df_new_notes={df_new_notes['CPF'].count()}")

In [ ]:
df_new_notes.to_sql("notas_fiscais", con=conn, if_exists='append', index = False)

In [ ]:
sql_notes = upload_data_from_file(path_file='/home/mbrugnar/workspace/data-engineering-studies/sql-server/df_new_notes.csv',
                                  table='notas_fiscais')
sql_notes

In [ ]:
sql_insert = insert_data('teste', [1, 2, 3, 4, 5, 'dsad'], ["dsadsa", "dsadsa"])
sql_insert

In [ ]:
sql_update = update_data("teste", 10, 1, "generator")
sql_update

In [5]:
sql_statistcs = table_statistics("notas_fiscais", "MAX", "NUMERO")
sql_statistcs

'\n    SELECT\n        MAX(NUMERO)\n    FROM\n        notas_fiscais\n    '

In [ ]:
df_new_notes.to_csv('df_new_notes.csv', index=False, header=False)

In [ ]:
sql_truncate = truncate_table("teste")
sql_truncate

In [ ]:
cursor.execute(sql_notes)

In [ ]:
con.commit()

In [ ]:
cursor.execute("select count(*) as c from notas_fiscais;")
for c in cursor:
    print(c)